.signin{
margin-right: 10px;
}
.session {
    right: 450px;
    top: 17px;
    position: absolute;
    color: white;
}
:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.card-car{
    text-align: left;
}
.card-img-top {
    max-height: 200px;
    width: auto;
}
.btn-group{
    justify-content: center;
}
.text-muted
{
    font-size: 120%;
}
#carouselExampleIndicators{
    max-height: 500px;
    max-width: 1100px;
    margin: auto;
    background-color: #f8f9fa !important;
    padding-top: 20px;
    margin-bottom: 50px;
}
.picture_car{
    max-height: 500px;
    max-width: 1160px;
}
.card-car-cover {
    margin-top: -50px;
}
